<!DOCTYPE html>
<html ng-app="Store">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angularjs Practice</title>
    <link rel="stylesheet" href="">
    <!-- Latest compiled and minified CSS -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.angularjs.org/1.4.9/angular.min.js"></script>

    <script type="text/javascript" src="js/apppractice2.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>
</head>
<body>

<div class="container">

    <div class="panel panel-default" ng-controller="storeController as store">
        <div class="panel-body" ng-repeat="prod in store.product">
            <div class="row">
                <div class="col-md-4">
                    <h1>{{ prod.name }}</h1>
                    <h2>{{ prod.price }}</h2>
                    <img class="thumb" ng-src="{{ prod.images[0].full }}" alt=""/>
                    <p>{{ prod.description }}</p>
                    <button ng-show="{{ prod.inStock }}" class="btn btn-primary">Buy now</button>
                    <hr/>
                    <section ng-controller="panelController as panel">
                        <ul class="nav nav-pills">
                            <li ng-class="{active:panel.isSelected('des')}">
                                <a ng-click="panel.setTab('des')" href="">Giới thiệu</a>
                            </li>
                            <li ng-class="{active:panel.isSelected('config')}">
                                <a ng-click="panel.setTab('config')" href="">Thông số</a>
                            </li>
                            <li ng-class="{active:panel.isSelected('review')}">
                                <a ng-click="panel.setTab('review')" href="">Đánh giá</a>
                            </li>
                        </ul>
                        <div class="panel" ng-show="panel.isSelected('des')">
                            <h4>Nội dung giới thiệu</h4>
                        </div>
                        <div class="panel" ng-show="panel.isSelected('config')">
                            <h4>Nội dung cấu hình</h4>
                        </div>
                        <div class="panel" ng-show="panel.isSelected('review')">
                            <blockquote ng-repeat="review in prod.reviews"><!---->
                                <b>{{ review.stars }}</b>
                                {{ review.body }}
                                <cite>by: {{ review.author }}</cite>
                            </blockquote>
                        </div>
                    </section>
                </div>
                <div class="col-md-4">
                    <h1>{{ prod.name }}</h1>
                    <h2>{{ prod.price }}</h2>
                    <img ng-src="{{ prod.images[0].full }}" alt=""/>
                    <p>{{ prod.description }}</p>
                    <button ng-show="{{ prod.inStock }}" class="btn btn-primary">Buy now</button>
                </div>
                <div class="col-md-4">
                    <h1>{{ prod.name }}</h1>
                    <h2>{{ prod.price }}</h2>
                    <img ng-src="{{ prod.images[0].full }}" alt=""/>
                    <p>{{ prod.description }}</p>
                    <button ng-show="{{ prod.inStock }}" class="btn btn-primary">Buy now</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
    